{% extends "base.html" %}

{% block title %}{{ project.title }}{% endblock %}

{% block extrahead %}
<!-- Usually in the <head> section -->
<link rel="stylesheet" href="nivo-slider.css" type="text/css" media="screen" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="jquery.nivo.slider.pack.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<h1>{{ project.title }}</h1>
<p>{{ project.simple_description }}</p>
<p>{{ project.description }}</p>
{% if project_images %}
<div id="slider">
	{% for image in project_images %}
	<img src="{{ image.image.url }}" alt="{{ project.name }}" title="{{ image.caption }}" />
	{% endfor %}
</div>
{% endif %}
{% endblock %}